In [1]:
#You must include a written description of three observable trends based on the data.

#Assuming I did everything correctly - Ha!
#1. The male gender makes up the majority of the population of players
#2. The average age of players regardles of gender is within the 20-24 age bracket
#3. my totals are probably wrong, but if they weren't, I'd suspect the larger purchases per individual were made by females.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [10]:
#find the total count of players (unique values)
player_demog = purchase_data.loc[:,["Gender", "SN", "Age"]]
player_count = player_demog.drop_duplicates().count()[0]
pd.DataFrame = ({"Total Players": [player_count]})
pd.DataFrame

{'Total Players': [576]}

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [25]:
#find the mean of the price data
avgPrice = purchase_data["Price"].mean()
# find the total price of all the purchases
totRevenue = purchase_data["Price"].sum()
#find the total purchases count
purchase_count = purchase_data["Price"].count()
#find the total count of unique items
uniqueItems = len(purchase_data["Item ID"].unique())

#combine the data into a single dataframe
purchase_summary = pd.DataFrame=({"Number of Unique Items": uniqueItems,
                                "Average Price": [avgPrice],
                                "Number of Purchases":[purchase_count],
                                "Total Revenue": [totRevenue]})
purchase_summary

{'Number of Unique Items': 183,
 'Average Price': [3.050987179487176],
 'Number of Purchases': [780],
 'Total Revenue': [2379.77]}

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [35]:
#find the unique values and count under gender
gender_count= player_demog["Gender"].value_counts()
gender_count = gender_count.round(2)

#discover the percent of players
gender_pcts = gender_count/player_count * 100
gender_pcts = gender_pcts.round(2)

# #discover the percent of players
# pct_players= round((tot_count/player_count) * 100, 2)
# #add into a data frame
# gender_dem = pd.DataFrame({"Total Count": tot_count,"Percentage of Players": pct_players})
# gender_dem.index.name = None
# gender_dem.sort_values(["Total Count"], ascending = False)

In [36]:
#add into a data frame
gender_dem_df = pd.DataFrame=({"Total Count": gender_count,"Percentage of Players": gender_pcts})
gender_dem_df

{'Total Count': Male                     652
 Female                   113
 Other / Non-Disclosed     15
 Name: Gender, dtype: int64,
 'Percentage of Players': Male                     113.19
 Female                    19.62
 Other / Non-Disclosed      2.60
 Name: Gender, dtype: float64}


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [40]:
#groupby gender
purchase_by_gender_group = purchase_data.groupby("Gender")
#find the purchase count by gender
purchase_count = purchase_by_gender_group["Purchase ID"].count()
#the average price by gender
avg_price = round((purchase_by_gender_group["Price"].mean()), 2)
#the total for each gender
avg_tot = purchase_by_gender_group["Price"].sum()
#the average purchase by gender by using average total 
avg_purchase = round((avg_tot/purchase_count), 2)

#Push information into a new DataFrame
gen_demog = pd.DataFrame=({"Purchase Count": purchase_count, 
                                "Average Purchase Price": avg_price, 
                                "Average Purchase Value": avg_tot, 
                                "Avg Purchase Total per Person": avg_purchase})
# gen_demog.index.name = None
# gen_demog.sort_values(["Purchase Count"], ascending = False)
gen_demog

{'Purchase Count': Gender
 Female                   113
 Male                     652
 Other / Non-Disclosed     15
 Name: Purchase ID, dtype: int64, 'Average Purchase Price': Gender
 Female                   3.20
 Male                     3.02
 Other / Non-Disclosed    3.35
 Name: Price, dtype: float64, 'Average Purchase Value': Gender
 Female                    361.94
 Male                     1967.64
 Other / Non-Disclosed      50.19
 Name: Price, dtype: float64, 'Avg Purchase Total per Person': Gender
 Female                   3.20
 Male                     3.02
 Other / Non-Disclosed    3.35
 dtype: float64}

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [53]:
#make bins and labels
age_bin = [0,9,14,19,24,29,34,39,100]
age_labels = ["<10", "10-14","15-19","20-24","25-29","30-34","35-39","40+"]

#group by ages
player_demog["Age Ranges"] = pd.cut(player_demog["Age"], age_bins, labels=age_labels)

#find the purchase count, average price and value by age group
age_demog_count = player_demog["Age Ranges"].value_counts()
age_demog_pcts = (round((age_demog_count/player_count) *100,2))
age_demog = pd.DataFrame=({"Total Count": age_demog_count, "Percentage of Players": age_demog_pcts})

age_demog

{'Total Count': 20-24    365
 15-19    136
 25-29    101
 30-34     73
 35-39     41
 10-14     28
 <10       23
 40+       13
 Name: Age Ranges, dtype: int64, 'Percentage of Players': 20-24    63.37
 15-19    23.61
 25-29    17.53
 30-34    12.67
 35-39     7.12
 10-14     4.86
 <10       3.99
 40+       2.26
 Name: Age Ranges, dtype: float64}

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [55]:
#group by ages
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], age_bins, labels=age_labels)

#find the purchase count, average price and value by age group
tot_purchase = purchase_data.groupby(["Age Ranges"]).sum()["Price"]
avg_price_age = purchase_data.groupby(["Age Ranges"]).mean()["Price"]
purchaseCount_age=purchase_data.groupby(["Age Ranges"]).count()["Price"]
                      
#find the average of the groubed by sum and the total count
avg_purchase_person_age = tot_purchase /age_demog_count["Total Count"]
                         
# add all values into a dataframe indexed by age group names as before
age_summary = pd.DataFrame({"Purchase Count": purchaseCount_age,
                                 "Avg Purchase Price": avg_price_age,
                                 "Total Purchase Value":tot_purchase,
                                 "Avg Purchase Total/ Person": avg_purchase_person_age})
age_summary

KeyError: 'Total Count'

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [56]:
#find top spenders and total purchase by top spender
spender = purchase_data.groupby("SN")
spender_purchase_count = spender["Purchase ID"].count()
#spender.head ()
#find their mean and the sum
spender_avg_price = spender["Price"].mean()
spender_purchase_tot = spender["Price"].sum()
# spender_avg_price.head()
# spender_purchase_tot.head()
# #creat top spenders data fram with found data
# top_spenders = pd.DataFrame({"Purchase Count": spender_purchase_count,
#                              "Average Purchase Price": spender_avg_price,
#                              "Total Purchase Value": spender_purchase_tot})
# top_spenders.index.name = None
# top_spenders.sort_values(["Total Purchase Value"], descending = True)
# top_spenders.head()

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [61]:
#list item data by values and group by ID and name
items = purchase_data[["Item ID", "Item Name", "Price"]]
item_data = items.groupby(["Item ID","Item Name"])
#use the price to find the total count of items and sum
purchaseCount_item = item_data["Price"].count()
purchaseValue = (item_data["Price"].sum()) 
#find the typical average item price
item_price = purchaseValue/purchaseCount_item
#create new data frame
mostPop_items = pd.DataFrame=({"Purchase Count": purchaseCount_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchaseValue})
# mostPop_items.index.name = None
# mostPop_items.sort_values(["Purchase Count"], descending = True)
mostPop_items

{'Purchase Count': Item ID  Item Name
 0        Splinter                                         4
 1        Crucifer                                         3
 2        Verdict                                          6
 3        Phantomlight                                     6
 4        Bloodlord's Fetish                               5
 5        Putrid Fan                                       4
 6        Rusty Skull                                      2
 7        Thorn, Satchel of Dark Souls                     7
 8        Purgatory, Gem of Regret                         3
 9        Thorn, Conqueror of the Corrupted                4
 10       Sleepwalker                                      4
 11       Brimstone                                        5
 12       Dawne                                            6
 13       Serenity                                         4
 14       Possessed Core                                   2
 15       Soul Infused Crystal                             5
 16       Restored Bauble                                  4
 17       Lazarus, Terror of the Earth                     4
 18       Torchlight, Bond of Storms                       2
 19       Pursuit, Cudgel of Necromancy                    8
 20       Netherbane                                       5
 21       Souleater                                        5
 22       Amnesia                                          6
 23       Crucifer                                         1
 24       Warped Fetish                                    5
 25       Hero Cane                                        6
 26       Unholy Wand                                      2
 27       Riddle, Tribute of Ended Dreams                  1
 28       Flux, Destroyer of Due Diligence                 2
 29       Chaos, Ender of the End                          5
                                                          ..
 154      Feral Katana                                     4
 155      War-Forged Gold Deflector                        5
 156      Soul-Forged Steel Shortsword                     5
 157      Spada, Etcher of Hatred                          4
 158      Darkheart, Butcher of the Champion               2
 159      Oathbreaker, Spellblade of Trials                7
 160      Azurewrath                                       6
 161      Devine                                           5
 162      Abyssal Shard                                    5
 163      Thunderfury Scimitar                             5
 164      Exiled Doomblade                                 7
 165      Bone Crushing Silver Skewer                      4
 166      Thirsty Iron Reaver                              3
 167      Malice, Legacy of the Queen                      4
 168      Sun Strike, Jaws of Twisted Visions              2
 169      Interrogator, Blood Blade of the Queen           4
 170      Shadowsteel                                      4
 171      Scalpel                                          3
 172      Blade of the Grave                               4
 173      Stormfury Longsword                              2
 174      Primitive Blade                                  4
 175      Woeful Adamantite Claymore                       3
 176      Relentless Iron Skewer                           2
 177      Winterthorn, Defender of Shifting Worlds         2
 178      Oathbreaker, Last Hope of the Breaking Storm    12
 179      Wolf, Promise of the Moonwalker                  6
 180      Stormcaller                                      1
 181      Reaper's Toll                                    5
 182      Toothpick                                        3
 183      Dragon's Greatsword                              3
 Name: Price, Length: 183, dtype: int64,
 'Item Price': Item ID  Item Name
 0        Splinter                                        1.28
 1        Crucifer                                        3.26
 2        Verdict                                         2.48
 3        Phantomlight                                    2.49
 4        Bloodlord's Fetish                              1.70
 5        Putrid Fan                                      4.08
 6        Rusty Skull                                     3.70
 7        Thorn, Satchel of Dark Souls                    1.33
 8        Purgatory, Gem of Regret                        3.93
 9        Thorn, Conqueror of the Corrupted               2.73
 10       Sleepwalker                                     1.79
 11       Brimstone                                       3.65
 12       Dawne                                           1.02
 13       Serenity                                        1.41
 14       Possessed Core                                  2.61
 15       Soul Infused Crystal                            2.96
 16       Restored Bauble                                 3.55
 17       Lazarus, Terror of the Earth                    1.70
 18       Torchlight, Bond of Storms                      4.65
 19       Pursuit, Cudgel of Necromancy                   1.02
 20       Netherbane                                      3.27
 21       Souleater                                       1.10
 22       Amnesia                                         2.18
 23       Crucifer                                        1.99
 24       Warped Fetish                                   3.81
 25       Hero Cane                                       4.35
 26       Unholy Wand                                     1.12
 27       Riddle, Tribute of Ended Dreams                 3.30
 28       Flux, Destroyer of Due Diligence                1.06
 29       Chaos, Ender of the End                         1.98
                                                          ...
 154      Feral Katana                                    4.40
 155      War-Forged Gold Deflector                       1.01
 156      Soul-Forged Steel Shortsword                    1.77
 157      Spada, Etcher of Hatred                         4.80
 158      Darkheart, Butcher of the Champion              2.45
 159      Oathbreaker, Spellblade of Trials               3.08
 160      Azurewrath                                      4.40
 161      Devine                                          1.76
 162      Abyssal Shard                                   2.67
 163      Thunderfury Scimitar                            3.45
 164      Exiled Doomblade                                1.63
 165      Bone Crushing Silver Skewer                     4.86
 166      Thirsty Iron Reaver                             3.07
 167      Malice, Legacy of the Queen                     3.61
 168      Sun Strike, Jaws of Twisted Visions             1.48
 169      Interrogator, Blood Blade of the Queen          2.18
 170      Shadowsteel                                     3.97
 171      Scalpel                                         1.79
 172      Blade of the Grave                              3.14
 173      Stormfury Longsword                             4.93
 174      Primitive Blade                                 3.47
 175      Woeful Adamantite Claymore                      4.48
 176      Relentless Iron Skewer                          2.84
 177      Winterthorn, Defender of Shifting Worlds        2.08
 178      Oathbreaker, Last Hope of the Breaking Storm    4.23
 179      Wolf, Promise of the Moonwalker                 4.48
 180      Stormcaller                                     3.36
 181      Reaper's Toll                                   1.66
 182      Toothpick                                       4.03
 183      Dragon's Greatsword                             1.09
 Name: Price, Length: 183, dtype: float64,
 'Total Purchase Value': Item ID  Item Name
 0        Splinter                                         5.12
 1        Crucifer                                         9.78
 2        Verdict                                         14.88
 3        Phantomlight                                    14.94
 4        Bloodlord's Fetish                               8.50
 5        Putrid Fan                                      16.32
 6        Rusty Skull                                      7.40
 7        Thorn, Satchel of Dark Souls                     9.31
 8        Purgatory, Gem of Regret                        11.79
 9        Thorn, Conqueror of the Corrupted               10.92
 10       Sleepwalker                                      7.16
 11       Brimstone                                       18.25
 12       Dawne                                            6.12
 13       Serenity                                         5.64
 14       Possessed Core                                   5.22
 15       Soul Infused Crystal                            14.80
 16       Restored Bauble                                 14.20
 17       Lazarus, Terror of the Earth                     6.80
 18       Torchlight, Bond of Storms                       9.30
 19       Pursuit, Cudgel of Necromancy                    8.16
 20       Netherbane                                      16.35
 21       Souleater                                        5.50
 22       Amnesia                                         13.08
 23       Crucifer                                         1.99
 24       Warped Fetish                                   19.05
 25       Hero Cane                                       26.10
 26       Unholy Wand                                      2.24
 27       Riddle, Tribute of Ended Dreams                  3.30
 28       Flux, Destroyer of Due Diligence                 2.12
 29       Chaos, Ender of the End                          9.90
                                                          ...
 154      Feral Katana                                    17.60
 155      War-Forged Gold Deflector                        5.05
 156      Soul-Forged Steel Shortsword                     8.85
 157      Spada, Etcher of Hatred                         19.20
 158      Darkheart, Butcher of the Champion               4.90
 159      Oathbreaker, Spellblade of Trials               21.56
 160      Azurewrath                                      26.40
 161      Devine                                           8.80
 162      Abyssal Shard                                   13.35
 163      Thunderfury Scimitar                            17.25
 164      Exiled Doomblade                                11.41
 165      Bone Crushing Silver Skewer                     19.44
 166      Thirsty Iron Reaver                              9.21
 167      Malice, Legacy of the Queen                     14.44
 168      Sun Strike, Jaws of Twisted Visions              2.96
 169      Interrogator, Blood Blade of the Queen           8.72
 170      Shadowsteel                                     15.88
 171      Scalpel                                          5.37
 172      Blade of the Grave                              12.56
 173      Stormfury Longsword                              9.86
 174      Primitive Blade                                 13.88
 175      Woeful Adamantite Claymore                      13.44
 176      Relentless Iron Skewer                           5.68
 177      Winterthorn, Defender of Shifting Worlds         4.16
 178      Oathbreaker, Last Hope of the Breaking Storm    50.76
 179      Wolf, Promise of the Moonwalker                 26.88
 180      Stormcaller                                      3.36
 181      Reaper's Toll                                    8.30
 182      Toothpick                                       12.09
 183      Dragon's Greatsword                              3.27
 Name: Price, Length: 183, dtype: float64}

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [65]:
#as before use purchase data to gain item data by ID and Name
items1 = purchase_data[["Item ID", "Item Name", "Price"]]
item_data = items1.groupby(["Item ID","Item Name"])

purchaseCount_item1 = item_data["Price"].count().max()
purchase_value1 = (item_data["Price"].sum()).max() 
item_price1 = purchase_value1/purchaseCount_item1

mostProf_items = pd.DataFrame=({"Purchase Count": purchaseCount_item1, 
                                   "Item Price": item_price1,
                                   "Total Purchase Value":purchase_value1})
# mostPop_items.index.name = None
# mostPop_items.sort_values(["Total Purchase Value"], descending = True)
mostProf_items

{'Purchase Count': 12,
 'Item Price': 4.230000000000001,
 'Total Purchase Value': 50.76000000000002}

In [67]:
purchase_data.to_csv("output/PandasHWSuzanneP", index=False)