In [1]:
#You must include a written description of three observable trends based on the data.

#Assuming I did everything correctly - Ha!
#1. The male gender makes up the majority of the population of players
#2. The average age of players regardles of gender is within the 20-24 age bracket
#3. my totals are probably wrong, but if they weren't, I'd suspect the larger purchases per individual were made by females.

In [3]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "../Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [4]:
#find the total count of players (unique values)
player_count = len(purchase_data["SN"].unique())
player_count

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#find the total count of unique items
uniqueItems = len(purchase_data["Item ID"].unique())
#find the mean of the price data
avgPrice = round((purchase_data["Price"].mean()), 2)
#find the total purchases count
totPurchases = len(purchase_data["Purchase ID"].unique())
# find the total price of all the purchases
totRevenue = purchase_data["Price"].sum()
#combine the data into a single dataframe
purchase_summary_df = pd.DataFrame({"Number of Unique Items": [uniqueItems], 
                                   "Average Price": [avgPrice],
                                   "Number of Purchases":[totPurchases], 
                                   "Total Revenue": [totRevenue]})
purchase_summary_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183           3.05                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
#find the unique values and count under gender
tot_count= purchase_data["Gender"].value_counts()
#discover the percent of players
pct_players= round((tot_count/player_count) * 100, 2)
#add into a data frame
gender_dem = pd.DataFrame({"Total Count": tot_count,"Percentage of Players": pct_players})
gender_dem.index.name = None
gender_dem.sort_values(["Total Count"], ascending = False)

                       Total Count  Percentage of Players
Male                           652                 113.19
Female                         113                  19.62
Other / Non-Disclosed           15                   2.60


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#groupby gender
purchase_by_gender_group = purchase_data.groupby("Gender")
#find the purchase count by gender
purchase_count = purchase_by_gender_group["Purchase ID"].count()
#the average price by gender
avg_price = round((purchase_by_gender_group["Price"].mean()), 2)
#the total for each gender
avg_tot = purchase_by_gender_group["Price"].sum()
#the average purchase by gender by using average total 
avg_purchase = round((avg_tot/purchase_count), 2)

#Push information into a new DataFrame
gen_demog = pd.DataFrame({"Purchase Count": purchase_count, 
                                "Average Purchase Price": avg_price, 
                                "Average Purchase Value": avg_tot, 
                                "Avg Purchase Total per Person": avg_purchase})
gen_demog.index.name = None
gen_demog.sort_values(["Purchase Count"], ascending = False)
gen_demog

,Purchase Count,Average Purchase Price,Average Purchase Value,Avg Purchase Total per Person
Female,113,3.20,361.94,3.20
Male,652,3.02,1967.64,3.02
Other / Non-Disclosed,15,3.35,50.19,3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [8]:
age_bins = [0,9,14,19,24,29,34,39,100]
age_labels = ["<10", "10-14","15-19","20-24","25-29","30-34","35-39","40+"]

#binning = pd.cut(purchase_data["Age"], age_bins, labels=age_labels)
purchase_data["Ages"] = pd.cut(purchase_data["Age"], age_bins, labels=age_labels)

#Total Purchases for all bins combined
totTransactions = purchase_data["Ages"].count()

#find the breackdown by age
age_group_breakdown = purchase_data["Ages"].value_counts()

#Calculate the pct for each age group
Pct=(round((age_group_breakdown/totTransactions)*100,2))


Age_Dem = pd.DataFrame({"Total Count": age_group_breakdown, "Percentage of Players": Pct})

Age_Dem.sort_index()

       Total Count  Percentage of Players
<10             23                   2.95
10-14           28                   3.59
15-19          136                  17.44
20-24          365                  46.79
25-29          101                  12.95
30-34           73                   9.36
35-39           41                   5.26
40+             13                   1.67

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [15]:
#make bins and labels
age_bin = [0,9,14,19,24,29,34,39,100]
age_labels = ["<10", "10-14","15-19","20-24","25-29","30-34","35-39","40+"]

#group by ages
purchase_data["Ages"] = pd.cut(purchase_data["Age"], age_bins, labels=age_labels)
purchase_by_age_group = purchase_data.groupby("Ages")

#find the purchase count, average price and value by age group
tot_purch = purchase_by_age_group.sum(["Price"])
avg_price_age = round((purchase_by_age_group.mean(["Price"]), 2)
purchaseCount_age = purchase_by_age_group.count(["Purchase ID"])
                      



#find the average of the groubed by sum and the total count
avg_purchase_person_age = round((tot_purch/age_group_breakdown), 2)
                         
# add all values into a dataframe indexed by age group names as before
age_demog = pd.DataFrame({"Purchase Count": purchaseCount_age,
                                 "Avg Purchase Price": avg_price_age,
                                 "Total Purchase Value":tot_purch,
                                 "Avg Purchase Total/ Person": avg_purchase_person_age})
age_demog.head

SyntaxError: invalid syntax (<ipython-input-15-2726a1fadd1c>, line 12)

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [15]:
#find top spenders and total purchase by top spender
spender = purchase_data.groupby("SN")
spender_purchase_count = spender["Purchase ID"].count()
#spender.head ()
#find their mean and the sum
spender_avg_price = spender["Price"].mean()
spender_purchase_tot = spender["Price"].sum()
# spender_avg_price.head()
# spender_purchase_tot.head()
# #creat top spenders data fram with found data
# top_spenders = pd.DataFrame({"Purchase Count": spender_purchase_count,
#                              "Average Purchase Price": spender_avg_price,
#                              "Total Purchase Value": spender_purchase_tot})
# top_spenders.index.name = None
# top_spenders.sort_values(["Total Purchase Value"], descending = True)
# top_spenders.head()

SN
Adairialis76    2.28
Adastirin33     4.48
Aeda94          4.91
Aela59          4.32
Aelaria33       1.79
Name: Price, dtype: float64

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
#list item data by values and group by ID and name
items = purchase_data[["Item ID", "Item Name", "Price"]]
item_data = items.groupby(["Item ID","Item Name"])
#use the price to find the total count of items and sum
purchaseCount_item = item_data["Price"].count()
purchaseValue = (item_data["Price"].sum()) 
#find the typical average item price
item_price = purchaseValue/purchaseCount_item
#create new data frame
mostPop_items = pd.DataFrame({"Purchase Count": purchaseCount_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchaseValue})
mostPop_items.index.name = None
mostPop_items.sort_values(["Purchase Count"], descending = True)
mostPop_items.head()

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [2]:
#as before use purchase data to gain item data by ID and Name
items1 = purchase_data[["Item ID", "Item Name", "Price"]]
item_data = items1.groupby(["Item ID","Item Name"])

purchaseCount_item1 = item_data["Price"].count()
purchase_value = (item_data["Price"].sum()) 
item_price = purchaseValue/purchaseCount_item

mostPop_items = pd.DataFrame({"Purchase Count": purchaseCount_item1, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchaseValue})
mostPop_items.index.name = None
mostPop_items.sort_values(["Total Purchase Value"], descending = True)
mostPop_items.head()

NameError: name 'purchase_data' is not defined

In [4]:
purchase_data.to_csv("output/PandasHWSuzanneP", index=False)

NameError: name 'purchase_data' is not defined